/* learner dash */
#learnerName {
    text-align: center;
}

#courses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6vw;
    row-gap: 8vh;
    padding: 6vw;
}

.course {
    background-color: lightgray;
    padding: 12px;
}

.course img {
    width: 100%;
}

.courseName {
    text-align: center;
}

.items {
    list-style-type: none;
}

.boldHeader {
    font-weight: bold;
    margin: 0;
}

/* admin dash (same as learner with one change) */