/* Sign In */
.signin {
    margin-top: 2em;
}

.container img {
    width: 8vw;
}

/* learner dash */
#learnerName {
    text-align: center;
}

/* admin dash */
/* Navigation */
body {
    background-color: lightgrey;
}

#nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: black;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

#nav img {
    width: 80px;
}

#nav a {
    color: white;
    text-decoration: none;
    padding: 12px 0;
}

#nav a:hover {
    color: #0d6efd;
    font-weight: bold;
}

#nav a.active {
    color: rgb(255, 255, 79);
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.5em;
}

#adminName {
    margin-left: 6vw;
}

#right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 6vw;
}

.header div a img {
    width: 40px;
    margin-left: 12px;
}

#title {
    text-align: center;
    font-weight: bold;
}

#edit {
    display: flex;
    justify-content:flex-end;
}

#edit button {
    background-color: #0d6efd;
    color: white;
    margin-right: 6vw;
    display: inline-block;
}

#add {
    display: flex;
    justify-content:flex-end;
}

#add a {
    margin-right: 6vw;
}

#add a img {
    width: 5vw;
}

#done {
    display: flex;
    justify-content: flex-end;
}

#done a {
    background-color: #0d6efd;
    color: white;
    margin-right: 6vw;
    text-decoration: none;
}

.hiddenTrue {
    display: none;
}

.hiddenFalse {
    display: block;
}

#courses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6vw;
    row-gap: 8vh;
    padding: 6vw;
}

.course {
    background-color: white;
    padding: 12px;
    position: relative;
}

.course img {
    width: 100%;
}
.course form {
    position: absolute;  
    width: 100%;
}

.course .exit {
    width: 6%;
}

.courseName {
    text-align: center;
}

.items {
    list-style-type: none;
}

.boldHeader {
    font-weight: bold;
    margin: 0;
    color: #0d6efd;
}

.hide_extra {
    padding: 0;
    border: none;
    background: none;
}

/*

+++++++++++++++++++++++++++++++++++++++++++++++
    Styles for 'discussions.html' page.
+++++++++++++++++++++++++++++++++++++++++++++++

*/

/* This element appears when the admin clicks the 'Create' button. It is the container
for the popup that you use to fill out discussion group information. */
#createGroupPopupContainer {

    background-color: white;
    width: 22vw;
    height: 50vh;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    margin-left: -11vw;
    top: 50%;
    margin-top: -25vh;
    border-radius: .7vw;
    box-shadow: .5vw 1vh 2px 5px lightgray;

}