/*
+++++++++++++++++++++++++++++++++++++++++++++++
    Styles for universal sign in page.
+++++++++++++++++++++++++++++++++++++++++++++++
*/
.signin {
    margin-top: 2em;
}

#homeLogo {
    width: 16vw;
}



/*
+++++++++++++++++++++++++++++++++++++++++++++++
    Styles for universal admin navigation.
+++++++++++++++++++++++++++++++++++++++++++++++
*/
body {
    background-color: lightgrey;
}

#nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: black;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

#nav img {
    width: 80px;
}

#nav a {
    color: white;
    text-decoration: none;
    padding: 12px 0;
}

#nav a:hover {
    color: #0d6efd;
    font-weight: bold;
}

#nav a.active {
    color: rgb(255, 255, 79);
    font-weight: bold;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.5em;
}

#adminName {
    margin-left: 6vw;
}

#right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 6vw;
}

.header div a img {
    width: 40px;
    margin-left: 12px;
}

#title {
    text-align: center;
    font-weight: bold;
}

#backButton {
    margin-left: 6vw;
}

#backButton img {
    width: 30px;
}



/*
+++++++++++++++++++++++++++++++++++++++++++++++
    Styles for 'admin_dash.html' page.
+++++++++++++++++++++++++++++++++++++++++++++++
*/
#edit {
    display: flex;
    justify-content:flex-end;
}

#edit a {
    margin-right: 6vw;
}

#update {
    display: flex;
    justify-content:flex-end;
}

#update a {
    margin-right: 6vw;
}

#add {
    display: flex;
    justify-content:flex-end;
    margin-top: 1em;
}

#add a {
    margin-right: 6vw;
}

#add a img {
    width: 5vw;
}

#courseSpecificBtns {
    display: flex;
    justify-content: center;
    align-items: center;
}

#done {
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

.hiddenTrue {
    display: none;
}

.hiddenFalse {
    display: block;
}

.hiddenTrue2 {
    display: none;
}

.hiddenFalse2 {
    display: block;
}

#courses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6vw;
    row-gap: 8vh;
    padding: 6vw;
}

#courses a {
    text-decoration: none;
    color: inherit;
}

.course {
    background-color: white;
    padding: 12px;
    position: relative;
}

.course img {
    width: 100%;
}

.course form {
    position: absolute;  
    width: 100%;
}

.course .exit {
    width: 6%;
}

.courseName {
    text-align: center;
}

.items {
    list-style-type: none;
}

.boldHeader {
    font-weight: bold;
    margin: 0;
    color: #0d6efd;
}

.hide_extra {
    padding: 0;
    border: none;
    background: none;
}

#courseSpecific {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6vw;
    padding: 6vw;
}



/*
+++++++++++++++++++++++++++++++++++++++++++++++
    Styles for 'admin_dash_user.html' page.
+++++++++++++++++++++++++++++++++++++++++++++++
*/
.subtitle {
    text-align: left;
    margin-left: 6vw;
    color: #0d6efd;
}

.userT {
    width: 80vw;
    margin-left: 6vw;
    margin-bottom: 2em;
}



/*
+++++++++++++++++++++++++++++++++++++++++++++++++
    Styles for 'admin_dash_group.html' page.
+++++++++++++++++++++++++++++++++++++++++++++++++
*/
#groups {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6vw;
    row-gap: 8vh;
    padding: 6vw;
}

#groups a {
    text-decoration: none;
    color: inherit;
}

.group {
    background-color: white;
    padding: 12px;
    position: relative;
}

.group img {
    width: 100%;
}

.group form {
    position: absolute;  
    width: 100%;
}

.group .exit {
    width: 6%;
}

.groupName {
    text-align: center;
}

/*
+++++++++++++++++++++++++++++++++++++++++++++++++
    Styles for 'group.html' page.
+++++++++++++++++++++++++++++++++++++++++++++++++
*/
#group-post-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 8vh;
}

#group-make-post {
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 30vw;
    height: 30vh;
}

#group-make-post-textarea {
    width: 30vw;
    height: 20vh;
    resize: none;
}


/*
+++++++++++++++++++++++++++++++++++++++++++++++++
    Styles for 'group.html' page.
+++++++++++++++++++++++++++++++++++++++++++++++++
*/
#professorName {
    margin-left: 6vw;
}

/*
+++++++++++++++++++++++++++++++++++++++++++++++++
    Styles for 'professor_group.html' page.
+++++++++++++++++++++++++++++++++++++++++++++++++
*/
#post-button {

    margin: auto !important;
    margin-top: 2vh !important;
    display: block;
    width: 8vw;

}

#group-make-post-title {

    font-size: 20px;
    margin-bottom: 1vh;

}


/*
+++++++++++++++++++++++++++++++++++++++++++++++++
    Styles for learner
+++++++++++++++++++++++++++++++++++++++++++++++++
*/
#learnerName {
    margin-left: 6vw;
}

#addCourseRating {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

#addProfessorRating {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

/*
+++++++++++++++++++++++++++++++++++++++++++++++++
    Styles for 'learner_quiz.html'
+++++++++++++++++++++++++++++++++++++++++++++++++
*/

.radio {
    padding:0 0 0 2em;
    font-size: 1.3rem;
    color: var(--color);
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 0.5em;
}

.radio__input{
    display:flex;
}

/* .radio__input input {
    
} */

.radio__control{
    display:grid;
    place-items:center;
    position:relative;
    z-index: 0;
}

.radio__label{
    color: black;
    line-height:1;
    font-size: 16px;
}

.results {
    color:#CAFF8A;
    font-weight: bold;
}

.submitBtns {
    text-align: center;
}

.submit{
    margin:1em;
    padding:.75em;
    border-radius:1em;
    border-style:inset;
    background-color: #04B7C0;
    color:#f5f5f5;
    font-size:1em;
    font-weight:bold;
}
​
.submit:hover{
    border-style:outset;
    background-color:#CAFF8A;
    color: black;
}

.question {

    color: red;

}

#quizForm {

    display: block;
    margin: 0 auto;
    padding: 30px;
    width: 60vw;
    background-color: white;
    box-shadow: 3px 3px darkgrey;
    border-radius: 30px;

}