<html>
    <head>
        <title>myPLS</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>
    <body>
        <div id='nav'>
            <img id="logo" src="{{ url_for('static', filename='assets/logo.svg') }}"/>
    
            <a href='/admin_group_user'> Users </a>
            <a class='active' href="#"> Courses </a>
            <a href='/admin_group_dash'> Groups </a>
            <a href='/admin_dash_ratings'> Feedback </a>
          </div>
          <div class='header'>
              <a id='backButton' href="/adminpanelindex"><img src="{{ url_for('static', filename='assets/backButton.svg') }}" /></a> 
    
              <div id='right'>
                  <div id="filter">
                      <input id="myInput" type="text" placeholder="">
                  </div>
    
                  <a href='/logout'><img src="{{ url_for('static', filename='assets/profileIcon.svg') }}"/></a>
              </div>
          </div>

        <div class="text-center container">
            <h1 id='title'>Add a Course</h1>
            <form action="" method="post">
                <input type="text" placeholder="Course ID" class=" border border-primary mt-2 rounded" name="courseID" value="{{
                  request.form.courseID }}">
                  <br>
                <input type="text" placeholder="Course Name" class="border border-primary mt-3 rounded" name="courseName" value="{{
                  request.form.courseName }}">
                  <br>
                <input type="text" placeholder="Capacity" class=" border border-primary mt-2 rounded" name="capacity" value="{{
                request.form.capacity}}">
                <br>
                <input type="text" placeholder="Location" class="border border-primary mt-3 rounded" name="Location" value="{{
                request.form.location }}">
                <br>
                <input type="text" placeholder="Times" class="border border-primary mt-3 rounded" name="times" value="{{
                    request.form.times }}">
                <br>

                <input class="btn btn-primary m-2" type="submit" value="Add Course">
            </form>
        </div>
        <br> 
    </body>
</html>