<html>
    <head>
        <title>myPLS</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>
    <body>
        <div class="text-center container">
            <h2>Add Users</h2>
            <form action="" method="post">
                <input type="text" placeholder="First Name" class=" border border-primary mt-2 rounded" name="firstname" value="{{
                  request.form.firstname }}">
                  <br>
                <input type="text" placeholder="Last Name" class="border border-primary mt-3 rounded" name="lastname" value="{{
                  request.form.lastname }}">
                  <br>
                <input type="text" placeholder="User ID" class=" border border-primary mt-2 rounded" name="userID" value="{{
                request.form.userID }}">
                <br>
                <input type="text" placeholder="Student Email" class="border border-primary mt-3 rounded" name="email" value="{{
                request.form.email }}">
                <br>
                <input type="password" placeholder="Password" class="border border-primary mt-3 rounded" name="password" value="{{
                    request.form.password }}">
                <br>
                <input type="text" placeholder="User Type" class="border border-primary mt-3 rounded" name="type" value="{{
                    request.form.type }}">
                <br>

                <input class="btn btn-primary m-2" type="submit" value="Add User">
            </form>
            <a href="/adminpanelindex"><input type="button" class="btn btn-primary m-2" value=Back></a> 
        </div>
        <br> 
    </body>
</html>