<html>
    <head>
        <title>myPLS</title>
        <link rel="stylesheet" href="../style/main.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>
    <body>
        <div class="container text-center">
          <h1 class="mb-3 text-info">Remove myPLS User</h1>
          <form action="" method="post">
              <input type="text" placeholder="User ID" class=" border border-primary mt-2 rounded" name="username" value="{{
                request.form.username }}">
                <br>
              <input class="btn btn-primary m-2" type="submit" value="Remove User">
              <a href="/admin_user_dash"><input type="button" class="btn btn-primary m-2" value=Back></a> 
            </form>
        </div>
    </body>
</html>