<html>
    <head>
        <title>myPLS</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>
    <body>
        <h1 class="text-center">User Table</h1>
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">User ID</th>
                  <th scope="col">Email</th>
                  <th scope="col">Password Hash</th>
                  <th scope="col">User Authorization</th>
                </tr>
              </thead>
        <tbody>
            {%for i in items%} 

            <tr>
                {%for l in i%}    
                <td>{{l}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        
        </tbody>
        </table>
        <a href="/adminpanelindex"><input type="button" class="btn btn-primary m-2" value=Back></a>
    </body>
</html>