<html>
    <head>
        <title>myPLS</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>
    <body>
        <div class="text-center container">
            <h1>Index</h1>
            <a href="/logout"><input type="button" class="btn btn-primary m-2" value=Logout></a> 
        </div>
        <br> 
    </body>
</html>