<html>
    <head>
        <title>myPLS</title>

    </head>
    <body>
        <h1>Welcome to myPLS</h1>
        <br>
        <form action="" method="post">
            <input type="text" placeholder="Username" name="username" value="{{
              request.form.username }}">
              <br>
             <input type="password" placeholder="Password" name="password" value="{{
              request.form.password }}">
              <br>
            <input class="btn btn-default" type="submit" value="Login">
          </form>
    </body>
</html>