<html>
    <head>
        <title>Professor User Group</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <script>

            let editFunction;

            window.onload = function() {

                function edit() {
                let elements = document.getElementsByClassName('hiddenTrue');

                for (let i = 0; i < elements.length; i++){
                    elements[i].classList.remove('hiddenTrue');
                    elements[i].classList.add('hiddenFalse');
                }  

                document.getElementById('editButton').style.display = 'none';
            };

                editFunction = edit;

            }

            // function done(){
            //     var elements = document.getElementsByClassName('hiddenFalse');

            //     for (var i = 0; i < elements.length; i++){
            //         elements[i].classList.remove('hiddenFalse');
            //         elements.item(i).classList.add('hiddenTrue');
            //     }

            //     document.getElementById('editButton').style.display = 'inline-block';

            // };
        </script>
        <div id='nav'>
            <img src="{{ url_for('static', filename='assets/logo.svg') }}"/>
            <a href="/professor_course"> Courses </a>
            <a class='active'href='#'> Groups </a>
            <a href='/professor_dash_ratings'> Feedback </a>
        </div>

        <div class='header'>
            <h4 id='adminName'> {{last}}, {{first}} </h4>

            <div id='right'>
                <div id="filter">
                    <input id="myInput" type="text" placeholder="Filter Groups...">
                </div>
    
                <a href='/logout'><img src="{{ url_for('static', filename='assets/profileIcon.svg') }}"/></a>
            </div>
        </div>

        <h1 id='title'> Group Management </h1>

        <div id='edit'>
            <a onclick='editFunction()'><input id="editButton" type="button" class="btn btn-primary m-2" value='Edit Groups'/></a>
        </div>

        <div id='add'>
            <a class="hiddenTrue" href='/addcourse'><img src="{{ url_for('static', filename='assets/add.svg') }}"/></a>
        </div>

        <div id='groups'>
            {%for x in userGroupData%}
            <a href='{{ url_for("to_group", group=x[0]) }}'>
                <div class='group {{x[2]}}'>
                    <img src="{{ url_for('static', filename='assets/studentExample.jpg') }}" />
                    
                    <form method="POST" >
                        <input type="hidden" class="groupID" name="group" value="{{x[0]}}">
                    </form>
                    
                    <h3 class='groupName'>{{x[2]}}</h3>

                    <p class='boldHeader'> Description:</p>
                    <ul class='items'>
                        <li> {{x[3]}} </li>
                    </ul>

                    <p class='boldHeader'> Students:</p>
                    <ul class='items'>
                        {%for l in userGroupNums[loop.index - 1]%}
                        <li> {{l}} </li>
                        {%endfor%}
                    </ul>
                </div>
            </a>
            {%endfor%}
        
        </div>

    </body>
</html>
